.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width:100%;
    background-color:rgba(0,0 ,0 , 0.1);
    display: flex;
    
    justify-content: space-between;
  
   
}

.logo{
    position:fixed;
    padding-top: 10px;
    left:20px;
    width:80px;
}
.avatar{
    position:fixed;
    right:20px;
    width:30px;
  
}